@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html{
  font-size: 22pt;
}

p {
  font-size: 22pt;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #53565A;
  font-size: 22pt;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #06919A;
  margin: 0.25em 0 0.5em 0;
}

h1, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #06919A;
}

a, a > code {
  font-family: 'Open Sans', sans-serif;
  color: #799100;
  text-decoration: underline;
  font-weight: bold;
  font-size: 90%;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 70%;
}
.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
font-size: 75%;
}


.remark-inline-code {
  font-weight: bold;
  font-size: 100%;
}
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #06919A;
  color: #ffffff;
  /* text-shadow: 0 0 20px #333; */
}

.inverse .remark-slide-number {
  font-size: 12pt;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.center {
  text-align:center;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

/*Three column layout*/

.col3 {
  float: left;
  width: 33.33%;
}


ul {
  list-style-type: square;
}

li{
  margin: 10px 0;
}

.large { font-size: 120% }
.midi { font-size: 90% }
.small { font-size: 80% }
.tiny {font-size: 70%}

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; font-size: 20pt;}
thead, tfoot, tr:nth-child(even) { background: #eee }


.remark-slide-content{
  font-size: 22pt;
}


.remark-slide-number {
  font-size: 12pt;
}

.element.style {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 685px;
    width: 700px;
}

.vocab {
  color: #87037B;
  font-weight: bold;
}

.vocab2 {
  color: #06919A;
  font-weight: bold;
}

.vocab3 {
  color: #022CFA;
  font-weight: bold;
}

.question {
  border-left: solid 5px #f6e1fa;
  background-color: #f6e1fa;
  padding: 10px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 90%;
  /*color: #1E5C65;*/
}
.alert {
  border: solid 5px #06919A;
 /* background-color: #06919A; */
  padding: 1px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.instructions {
  border-left: solid 5px #D7E7EC;
  background-color: #D7E7EC;
  font-size: 100%;
  padding: 1px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.instructions li::before {
  content: ">";
  color: #f6e1fa;
  display: inline-block;
  margin-left: -1.5em
}


.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-slight-right {
  float: right;
  width: 30%;
}

.pull-slight-left {
   float: left;
    width: 30%;
}

.pull-more-right {
  float: right;
  width: 68%;
}


/*Box for equations*/
.eq {
  border-radius: 25px;
  border: solid 5px #c6d47f;
  background-color: #dce5b2;
  padding: 7px 13px;
  margin-top: 12px;
  margin-bottom: 12px;
  /*font-size: 90%;*/
}

.small-box-work {
  border-radius: 25px;
  border: solid 5px #a6a6a6;
  background-color: #e5e5e5;
  padding: 5px 5px;
  margin-top: 12px;
  margin-bottom: 12px;
/*  font-size: 90%; */
}

.small-box {
  border-radius: 25px;
  border: solid 5px #c6d47f;
  background-color: #dce5b2;
  padding: 5px 5px;
  margin-top: 12px;
  margin-bottom: 12px;
 /* font-size: 90%; */
}

